@font-face {
  font-family: 'Merchant copy';
  src: url('https://uploads-ssl.webflow.com/6278d92c988fe4187644f025/6278d92c988fe470e444f032_MERCHANT-COPY.DOUBLESIZE.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Merchant copy';
  src: url('https://uploads-ssl.webflow.com/6278d92c988fe4187644f025/6278d92c988fe4d07e44f033_MERCHANT-COPY.REGULAR.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background: #ECECE1;
  font-family: monospace;
  margin: 0;
  font-family: 'Merchant copy';
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}