.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 16px;
  /* border: 1px solid var(--border-color); */
  padding: 8px;
}

.mintInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 720px;
  max-width: 700px;
  gap: 2%;
}

.infoTop {
  background-color: #376071;
  color: #FFEF00;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoWallet {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.description {
  opacity: 0.7;
  font-size: 1rem;
}

.image {
  width: 85%;
  border-radius: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
}

.mainButton {
  font-family: 'Merchant Copy';
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  font-size: 20px;
  background: #376071;
  color: #FFEF00;
  padding: 0 10px;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.mintArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mintAreaLeft {
  margin-left: 5%;
  opacity: 0.75;
}

.minted > p > span {
  margin-right: 1rem;
}

.spacerTop {
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #376071;
  color: #FFEF00;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}